<!-- ===== SECTION: EDUKASI ===== -->
<div class="section-content">
  <div class="admin-table-card">
    <div class="atc-hdr">
      <h3>Konten Edukasi & Artikel</h3>
      <div class="atc-actions">
        <button class="btn-primary-sm" onclick="showToast('➕ Tulis Artikel Baru')">➕ Tulis Artikel</button>
      </div>
    </div>
    <div class="table-wrap">
      <table class="data-table">
        <thead><tr><th>Judul Artikel</th><th>Kategori</th><th>Tanggal Rilis</th><th>Views</th><th>Status</th><th>Aksi</th></tr></thead>
        <tbody>
          <tr>
            <td>Cara Mengolah Sampah Organik di Rumah</td>
            <td><span class="cat-tag green-tag">Tips & Trik</span></td>
            <td>12 Jun 2026</td>
            <td>1.2K</td>
            <td><span class="status-online">Published</span></td>
            <td><div class="t-act-btns"><button class="t-edit">Edit</button></div></td>
          </tr>
          <tr>
            <td>Dampak Buruk Sampah Plastik di Lautan</td>
            <td><span class="cat-tag blue-role">Lingkungan</span></td>
            <td>10 Jun 2026</td>
            <td>850</td>
            <td><span class="status-online">Published</span></td>
            <td><div class="t-act-btns"><button class="t-edit">Edit</button></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
