<!-- ===== SECTION: REWARD ===== -->
<div class="section-content">
  <div class="admin-table-card">
    <div class="atc-hdr">
      <h3>Daftar Reward & Penukaran</h3>
      <div class="atc-actions">
        <button class="btn-primary-sm" onclick="openAddModal('reward')">➕ Tambah Reward</button>
      </div>
    </div>
    <div class="table-wrap">
      <table class="data-table">
        <thead><tr><th>Item Reward</th><th>Harga Poin</th><th>Stok Tersedia</th><th>Status</th><th>Aksi</th></tr></thead>
        <tbody>
          <tr>
            <td><div class="t-user"><div class="t-av">🎟️</div>Voucher Listrik 50k</div></td>
            <td>50.000 Poin</td>
            <td>120</td>
            <td><span class="status-online">Aktif</span></td>
            <td><div class="t-act-btns"><button class="t-edit">Edit</button></div></td>
          </tr>
          <tr>
            <td><div class="t-user"><div class="t-av">📱</div>Pulsa Telkomsel 20k</div></td>
            <td>20.000 Poin</td>
            <td>500</td>
            <td><span class="status-online">Aktif</span></td>
            <td><div class="t-act-btns"><button class="t-edit">Edit</button></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
